@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

html, body {
  height: 100%;
}

.nav-menu {
  list-style-type: none;
  
  li {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
  }

  
  li:hover {
    text-decoration:underline;
    text-underline-offset: 0.2rem;
    color: #1d4cf7;
  }
}
